.navbar-default {
    background: none;
    border: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron{
    background: none;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.small-jumbo{
    font-size: 14px;
}

footer{
    text-align: center;
}

header hr{
    margin-top: 0px;
}

article{
    font-family: Georgia, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
}

article p{
    margin-top: 20px;
    margin-bottom: 20px;
}

article h2 a{
    color: #333;
}

article h2, article h3, article h4{
    margin-top: 40px;
}

article img{
    max-width: 100%;
}

.container {
    max-width: 920px;
}
nav, .homewrap, .homewrap h1, .homewrap h2, .homewrap h3{
    font-family: 'Droid Sans Mono', monospace;
}

a.navbar-brand{
    margin-left: 0px;
    padding-left: 0px;
}