---
layout: default
---

<header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">kindohm</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>     
    <hr/>   
</header>


{{ content }}

<footer>
    <hr/>
    <p class="text-muted"><small>&copy; Copyright 2013 Mike Hodnick. Unauthorized duplication
        may result in sudden death or dismemberment.</small></p>
</footer>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

